:root {
    --color-pink: #FD377E;
    --color-pinkHover: #E34981;
    --color-greenCard: #03B898;
    --color-titleCard-priceCard: #212529;
    --color-descripitonCard: #343A40;
    --color-exampleCompras: #868E96;
    --color-input: #F8F9FA;

    --font-primary: 'Nunito', sans-serif;
    --font-secundary: 'Inter', sans-serif;
}
