.container{
    width: 100%;
    max-width: 1200px;
    margin:  0 auto;
    padding: 1rem 1.5rem;
}
.container.main{
    display: flex;
    flex-direction: row;
    gap: 59px;
    overflow: hidden !important;
    justify-content: center;
}