%title {
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 30px;
}

.title1 {
    @extend %title;
    color: var(--color-titleCard-priceCard);
    max-width: 18rem; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.titlePink {
    @extend %title;
    color: var(--color-pink);
}

%paragraph {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}

.paragraphPrice {
    @extend %paragraph;
    font-family: var(--font-primary);
    color: var(--color-titleCard-priceCard);
}

.paragraph2 {
    @extend %paragraph;
    font-family: var(--font-primary);
    color: var(--color-descripitonCard);
    max-width: 18rem; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.paragraphTitle {
    @extend %paragraph;
    font-family: var(--font-secundary);
    color: var(--color-titleCard-priceCard);
}

.paragraphEx {
    @extend %paragraph;
    font-family: var(--font-secundary);
    color: var(--color-exampleCompras);
}